<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>A self-organising and focused C/C++ developer with a strong technical experience who has the ability to work in an environment under minimum supervision. Ability to take key roles in an Agile software development lifecycle to ensure that business requirements and objectives are achieved. Self initiating, team player, results oriented, and possess the ability to provide complex solutions to problems clearly and efficiently. <br><br>Looking forward in making a difference as a software engineer to a company that offers genuine career progression. </p>
</div><!--//summary-->
</section><!--//section-->