<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">June 2012 - April 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Nokia Networks, Manila</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Lead developer for a software testing tool written in C/C++. Analyse, create, and maintain design documents for new customer requirements. Conduct monthly team planning, review, and retrospective using Agile/Scrum practices. Analyse and understand concepts on 3GPP. Maintain web wiki documentation page. Conduct new-comers training, continuous improvent, and configuration management.   
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Bindery Assistant</h3>
                            <div class="time">Oct 2016 - Jan 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Soar Printing, Auckland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Pad, count, measure, and calculate quantity of paper to identify correct lots according to job order. Collate, fold, trim, and pack printed materials for logistics. Perform assembly of less complicated hand binding operations at work table. Fill and print label packages for delivery to client. Load, operate, and offload shrink-wrap and uses pallet jacks efficiently to move stock from work station to despatch. Monitor materials to detect previous processing errors and notifies supervisor accordingly. Maintain clean work station and observe appropriate safety procedures</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->                
            </section><!--//section-->