<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Platform development has a little avenue for UI design. I have always wanted to be a web developer. In my free time, I enjoy learning new technologies including content management systems (WordPress, Joomla, and Drupal). </p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://notkidding.000webhostapp.com/about/">Not Kidding</a></span> - <span class="project-tagline">A responsive website of witty conversations written in Filipino and Cebuano.</span> 
            </section><!--//section-->